<%= turbo_frame_tag "regex_match_frame" do %>
  <% if @regex_session.match? %>
    <dl>
      <% @regex_session.current_match.all_captures.each do |key, value| %>
        <dt><code><%= key %></code></dt>
        <dd><span class="regex-match"><%= value %></span></dd>
      <% end %>
    </dl>
  <% else %>
    <% if @regex_session.valid? %>
      <p class="regex-empty">No match</p>
    <% else %>
      <p class="regex-placeholder"><em>Match data</em></p>
    <% end %>
  <% end %>
<% end %>
