<% content_for(:title) { "exalog - Carl's blog/toybox" } %>

<%= render "layouts/nav" %>

<ul class="page-list">
  <li>
    <%= link_to regex_path("cheats") do %>
      <em>Ruby Regex Cheat Sheet</em>
      <small>Regular expression reference for any Perl Compatible Regular Expressions (PCRE) system, but particularly ruby.</small>
    <% end %>
  </li>
  <li>
    <%= link_to page_path("pixels") do %>
      <em>Dead Pixel Finder</em>
      <small>Simple tool that toggles between white/black, and primary colors (on click) to help you find any stuck or dead pixels on an LCD/OLED.</small>
    <% end %>
  </li>
  <li>
    <%= link_to new_markdown_input_path do %>
      <em>Markdown Preview</em>
      <small>Paste in some markdown (with optional github flavor) and get a rendered HTML output.</small>
    <% end %>
  </li>
<ul>
