/* Layout CSS for pages using the default layout (application.html.erb) */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@layer layout {

  body {
    font-family: "Ubuntu Sans", sans-serif;
    background: var(--page-bg);
    color: var(--page-fg);
    font-size: 1.2rem;
  }


  article {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  code, pre {
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 1.075rem;
  }

  textarea {
    background: var(--page-bg);
    color: var(--page-fg);
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 0.9rem;
  }

  /* @media (min-width: 900px) {
    article {
      max-width: 900px;
      margin: 0 auto;
      padding: 0;
    }
  } */

  .primary-nav {
    background: var(--primary-nav-bg);
    display: flex;
    flex-direction: row;
    padding: 0.35rem 1.25rem 1.25rem 1.25rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2.4rem 0;

    .nav-heading {
      /* flex-grow: 1; */
      display: flex;
      flex-direction: column;

      .nav-title {
        font-size: 3rem;
        a {
          text-decoration: none;
          color: var(--primary-nav-title-fg);
          &:hover {
            color: var(--primary-nav-title-fg-hover);
          }
        }
      }
      .nav-subheading {
        color: var(--primary-nav-subheading-fg);
        font-size: 1.05rem;
      }
    }
  }

  .theme-toggle {
    cursor: pointer;
    svg {
      fill: var(--theme-toggle-fg);
    }
  }
}
