/* Layout CSS for pages using the default layout (application.html.erb) */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--page-bg);
  color: var(--page-fg);
}

.primary-nav {
  background: var(--primary-nav-bg);
  display: flex;
  flex-direction: row;
  padding: 5px 20px 20px 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2em 0;

  .nav-heading {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;

    .nav-title {
      font-size: 2em;
      a {
        text-decoration: none;
        color: var(--primary-nav-title-fg);
        &:hover {
          color: var(--primary-nav-title-fg-hover);
        }
      }
    }
    .nav-subheading {
      color: var(--primary-nav-subheading-fg);
      font-size: 0.85em;
    }
  }

  .theme-toggle {
    cursor: pointer;
    svg {
      fill: var(--theme-toggle-fg);
    }
  }
}
